<!DOCTYPE html>
<html >
{% load staticfiles %}
{% load i18n %}
<head>
    <title></title>
<link rel="stylesheet" type="text/css" href="{% static "project_b/base.css"%}" >
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% block custom_scripts %} {% endblock custom_scripts %}
</head>
<body>

<div class="navigation_container">
    <ul>
        <li><a href="{% url "index_url" %}"> Home</a></li>
         <li><a href="{% url "index_url" %}"> </a></li>
    </ul>
    {% block navigation_content %}{% endblock navigation_content %}
</div>

<div class="main_content">
 {% block main_content %}
    {% endblock main_content %}
</div>

</body>
</html>