{% extends "project_b/base.html" %}
{% load i18n %}
{% block custom_scripts %}

    <script>
        $( document ).ready(function() {
            if($("body").find(".errorlist")){
                removeFormErrorElements("");
            }
        });

        function removeFormErrorElements(e){
            $(".errorlist").remove();
        }
    </script>

{% endblock custom_scripts %}


{% block main_content %}

    <div class="contact_form_container">
        <form action="" method="post"> {% csrf_token%}
            {{ form.as_p }}
        <input type="submit" value="Submit" />
        </form>

        <div id="contact_form_error_container">
            {% if form.email.errors or form.phone_number.errors  %}

                {% for error in form.email.errors %}
                    <p>{{ error|escape }}</p>
                {% endfor %}

                {% for error in form.phone_number.errors %}
                    <p>{{ "*"|add:error|escape }}</p>
                {% endfor %}
            {% endif %}

            {% if success_contact_registration %}
                <p>Successfuly registered</p>

            {% endif %}
        </div>
    </div>
{% endblock main_content %}
