@charset "utf-8";
/* CSS Document */

.user_bar {
	position:relative;
	color:#7E7E7E;
	padding:none;
	

}

.user_bar_options {
	
	padding:0;
	list-style:none;
	margin:0;
	height:50px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), 					color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	

	

}

.user_bar_options li {
	
	float:left;
	padding:2px;
	border-right:#999;
	margin: 20px;
	margin-top:10px;
	

}


.user_bar_options li a:hover{
	color:#FFF;
}

#login_buttons  {
	float:right;
	list-style:none;
	padding:none;
	margin-right: 35px;
	
	
	
}

#login_buttons a{
	text-decoration: none;
	color:#7E7E7E;
}


#login_buttons li a:hover{
	color:#FFF;
}

.main_body{
	width:200px;
	margin:auto;
	
}

body{
	margin: 0 auto;
	
	background-color:#F8F8F8;
}


.hidden_div{

    display:none;

}

#user_greeting {
    position:relative;
    float:right;
    line-height: 50px;
    color:#FFFFFF;
}