/**
* Featherlight – ultra slim jQuery lightbox
* Version 0.1.11 – https://github.com/noelboss/featherlight
*
* Copyright 2013, Noel Bossart
* MIT Licensed.
*/
@media all {

	.featherlight {
		display: none;
		position:fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		height: 100%;
		text-align: center;
		cursor: pointer;
		background: #333;
		background: rgba(0, 0, 0, 0.8);



	}

	.featherlight .featherlight-close {
		position: absolute;
		z-index: 9999;
		right: 0px;
		top: 0px;
		line-height: 25px;
		width: 25px;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		font: Arial, sans-serif;
		background: #fff;
		color: #000;

	}

	.featherlight:before {
		content: '';
		display: none;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.featherlight .featherlight-content {
		text-align: center;

        border-radius: 10px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding: 2%;
        top:20%;
		/*width: 20%;*/

        max-width: 90%;
		max-height: 95%;

        min-height: 20%;
        min-width: 50%;
		overflow: auto;
		background: #fff;
		cursor: auto;



	}

	.featherlight .featherlight-inner {
		display: block;
        border-radius: 10px;
	}

	.featherlight-iframe .featherlight-content {
		min-height: 60%;
        min-width: 60%;

	 }

	.featherlight iframe {
		border: none;
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		height: 100%;
		width: 100%;
	}

	.featherlight .featherlight-image {
		width: 100%;
	}
}