@charset "utf-8";
/* CSS Document */

html,body{
    height: 100%;

    font-family: Verdana;

}

.user_bar {
	position:relative;
	color:#7E7E7E;
	padding:0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;

    font-size:14px;
}

.user_bar_options {

	padding:0;
	list-style:none;
	margin:0;
	height:30px;
    background: #eee;
	/*background: #45484d; *//* Old browsers */
	/*background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); *//* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), 					color-stop(100%,#000000)); *//* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); *//* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); *//* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); *//* IE10+ */
	/*background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); *//* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); *//* IE6-9 */

}

.user_bar_options li {
	height: 100%;
	float:left;
	padding: 0px 15px 0px 15px;
    display: block;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    line-height: 200%;

}

.user_bar_options li a {
    text-decoration: none;
    color:#000000;
    display: block;
    font-size: 17px;
}

.user_bar_options li:hover{
    background-color: #fff;
    transition:0.3s;
    -webkit-transition:0.3s;

}

#login_buttons  {
	float:right;
    height:30px;
    line-height: 200%;

}

/*#login_buttons a{*/
	/*text-decoration: none;*/
    /*color:#d4d4d4;*/
/*}*/


/*#login_buttons li a:hover{*/
	/*color:#FFF;*/
/*}*/

#menu_line{

    height: 5px;
    width: 100%;
    background: rgb(123,170,209); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(123,170,209,1) 23%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(23%,rgba(123,170,209,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(123,170,209,1) 23%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(123,170,209,1) 23%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(123,170,209,1) 23%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(123,170,209,1) 23%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7baad1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    margin: 0;
    border:none !important;
}



body{
	margin: 0 0 45px;
    background-color:#ffffff;
}


.hidden_div{

    display:none;

}


.hidden_div.notifications{
    position: absolute;
    height: 1000px;
    width: 200px;
    border: 1px solid #9acfea;
    z-index: 9999;
    background-color: #f4f8ff;
    color: #000000;
    font-size: 17px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.hidden_div.notifications *{
    margin-bottom: 2px;
}

#user_greeting {
    position:relative;
    float:right;
    line-height: 200%;
    color:#000000;
    margin:0 10px 0 10px;
}

#user_list_container{
    display: inline-block;
    float: left;
    margin:0px 20px 20px 0px;
     overflow:scroll;
     overflow-y: hidden;
     overflow-x: hidden;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    clear: both;
}

#chat_div{

    float: right;
    display: block;
    padding: 10px;

    height: 100%;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    clear: both;

}

#chat_div input{
    display:block;
}

#received_messages{
    width: 100px;
    height: 80%;
}
#chat_messages_container{
    height: 80%;
    border: 1px solid #eeeeee;
    overflow-y:scroll;
    width: 280px;
    word-wrap: break-word;
}
#local_div{

    display: inline-block;
}


.main_body{
    display: block;
    height: inherit;
    min-height: 100%;
    overflow: auto;

}





.wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    display: table;
    /*
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,241,244,1) 85%, rgba(190,212,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(85%,rgba(237,241,244,1)), color-stop(100%,rgba(190,212,229,1))); /
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,241,244,1) 85%,rgba(190,212,229,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,241,244,1) 85%,rgba(190,212,229,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,241,244,1) 85%,rgba(190,212,229,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,241,244,1) 85%,rgba(190,212,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bed4e5',GradientType=0 );  */



}

footer {


    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(234,234,234,1) 6%, rgba(234,234,234,1) 13%, rgba(247,247,247,1) 86%, rgba(234,234,234,1) 97%, rgba(247,247,247,1) 100%, rgba(238,238,238,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(6%,rgba(234,234,234,1)), color-stop(13%,rgba(234,234,234,1)), color-stop(86%,rgba(247,247,247,1)), color-stop(97%,rgba(234,234,234,1)), color-stop(100%,rgba(247,247,247,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 6%,rgba(234,234,234,1) 13%,rgba(247,247,247,1) 86%,rgba(234,234,234,1) 97%,rgba(247,247,247,1) 100%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 6%,rgba(234,234,234,1) 13%,rgba(247,247,247,1) 86%,rgba(234,234,234,1) 97%,rgba(247,247,247,1) 100%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 6%,rgba(234,234,234,1) 13%,rgba(247,247,247,1) 86%,rgba(234,234,234,1) 97%,rgba(247,247,247,1) 100%,rgba(238,238,238,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(234,234,234,1) 6%,rgba(234,234,234,1) 13%,rgba(247,247,247,1) 86%,rgba(234,234,234,1) 97%,rgba(247,247,247,1) 100%,rgba(238,238,238,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */


    left: 0;
    bottom: 0;
    height: 42px;
    width: 100%;
    margin: 3px 0px 0px 0px;
}



/*base.html*/


#footer_info{
    text-align: center;
    margin-top:5px;

}
#footer_info ul{
    list-style: none;
    text-align: center;
}
#footer_info ul li{
    float: left;
    padding: 0 10px 0 10px;
    margin:5px 5px 5px 5px;

}

#footer_info ul li a{
    color: black;
}




/*base.html*/








/* index.html */


#index_page_main1{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    height: 100% ;
    width: 100%;
    margin: auto;

}

.window{
    color: #000000;
    width: 300px;
    height: 150px;
    margin: auto;
    font-family: Verdana;
    text-align: center;
    font-size: 25px;

}



#userList{
    display: inline-block;
}

/* courses.html /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.main_body_heading{
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;

}


.courses_navigator{
    float: left;
    height: 98%;
    width:102px;
    padding: 0px;
    margin: 0px 10px 0px 0px;
    display: inherit;
    border:1px solid #eeeeee;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    clear: both;
}

.courses_navigator_items{
    color: #0088cc;
    text-align: center;
    padding: 3px;
    width: 100%;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 100px;
    border:1px solid #eeeeee;
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    cursor: pointer;


}

.courses_navigator_items a:hover {
    text-decoration: none;
    color: #0077b3;
}
.courses_navigator_items:hover{
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 1%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 1%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


.courses_management{

    display: none;
    width: 700px;
    margin: auto;

}

.user_courses {
    display: none;
    margin: 10px auto 10px auto;



}
.user_courses_table{

     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);

}


.user_courses_table tr{
    padding: 5px;
    margin-bottom: 10px;

    border:1px solid #eeeeee;


}

.user_courses_table tr td{
    padding: 15px;
    font-size: 18px;
    text-align: center;

}


.courses_container {
    display: none;
    margin: 10px auto 10px auto;
    width: 700px;
}

.courses_managment_table{


    text-align: center;
     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.courses_managment_table tr{
    padding: 5px;
    margin-bottom: 10px;

    border:1px solid #eeeeee;


}

.courses_managment_table tr td{
    padding: 15px;
    font-size: 18px;

}
.courses_managment_table tr.active td:first-child{
    color: #46a546;
}
.courses_managment_table tr.alt.active td:first-child{
    color: #46a546;
}

.courses_managment_table tr.ended td:first-child{
    color: #c43c35;
}
.courses_managment_table tr.alt.ended td:first-child{
    color: #c43c35;
}



.courses_participants{
    display: none;
    background-color: #ffffff;
    z-index: 100;
    position: absolute;
     text-align: center;
     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);


}

.courses_participants ul{
    list-style:none;
    padding: 5px;
    margin: 4px;
    font-size:17px;
    font-family: "Trebuchet MS";
}

.courses_participants ul li {
    border-bottom:1px solid #0088cc;
}

.courses_participants ul li:hover{
    cursor: pointer;
    color: #0088cc;
}


.course_settings_menu{
    display: none;
    z-index: 10;
    position:absolute;
    background-color:white ;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    text-align: left;
}

.course_settings_menu ul{
    list-style: none;
    padding: 5px;
    margin: 4px;
    font-size:17px;
    font-family: "Trebuchet MS";

}

.course_settings_menu ul li {
    border-bottom:1px solid #0088cc;
}

.course_settings_menu ul li:hover{
    cursor: pointer;
    color: #0088cc;
}

.add_new_course_container{
    display: none;
    padding: 10px;
    margin-top:20px;
     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);

}

.add_new_course_container table tr td{
    padding: 8px;

}

.search_container{

    margin-bottom: 20px;
}



/* courses.html */



/* rtc.html */


#comment{
    width: 678px;
}
.comments_container{
    width: 700px;
    margin-top:50px;
    background-color: transparent;
    padding: 10px;
     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;

}

.comments_create_container{
    display: inline-block;
    width: 100%;
    margin: 0px;
    margin-bottom:10px;


}
.comments_create_container textarea {
    display: block;
    width: 600px;
}

#comments_button{
   display: block;
   float: right;
}

#comments_messages{
    background-color: white;
    color: black;
    font-size: 17px;
    margin-bottom: 40px;


}

#comment_info{
    margin-bottom:10px;
    border-bottom: 1px solid #eeeeee;
}

#comment_info #date  {
    float:right;

}


/* rtc.html */