.contact_form_container {
    width: 200px;
    clear:both;
    margin:0;
    padding: 10px;
    -webkit-box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    -1px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow:         -1px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:#cce0f0;
}

.contact_form_container input{
    width: 97%;
    clear:both;
}


.main_content{
    width: 1000px;
    margin:auto;
    background-color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 10px 10px 10px 10px;

-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-bottom-left-radius: 10px;
-moz-border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}



.navigation_container {

	padding:0;
	list-style:none;
	margin:0 0 20px 0;
	height:31px;
    width: 100%;
    top:0;
    border-bottom-color: #0e84b5;
    border-bottom-style:solid;
    border-bottom-width: 2px;






}

.navigation_container ul {

    width:100%;
	height: 100%;
    color:#e9e9e9;
	padding:0;
    margin: 0;
    list-style: none;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */



}

.navigation_container ul li {
    font-size: 18px;
	float:left;
	padding: 7px 10px 0 10px;

    text-decoration: none;
    color: black;
    -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

    border-right-color: white;
    border-right-width: 1px;
    border-right-style: solid;

}

.navigation_container ul li a {
    text-decoration: none;
    display:inline-block;
    height: 20px;
    color: black;
}

.navigation_container ul li:hover{
	background-color: #e6e1df;
}

body{
    margin: 0;
    background-image: url('mochaGrunge.png');
}