<!DOCTYPE html>
<html>


{% load staticfiles %}


<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static "main.css"%}" >
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="{% static "jquery.cookie.js" %}"></script>

<script src="{% static "featherlight.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "featherlight.css"%}" >

<script src="{% static "jquery.fullPage.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "jquery.fullPage.css"%}" >

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>




    {% block custom_scripts %}{% endblock custom_scripts %}







<script>

         function displayMessages(){
            $.featherlight($("#messages_container"));
        }




        function closeTopFeatherlightAndSubmit(){


          /*  b = $("#login_submit_button");
            b.trigger('click');
*/          var form_data = $("#login").serialize();
            var link = $("#login").attr("action");

            $.post(link,form_data, function e(event){
                var a = $(".featherlight-close");
                a.click();
                window.location.reload();
            });

        }

        function preAppendMessages(){
            $('<div id="messages_container" class="hidden_div"><div>').appendTo("body");
        }

        function closeTopFeatherLight(params,callback){
            var a = $(".featherlight-close");
            a.click();

            id=params()['id'];
            console.log(params());
            callback(params());

        }


        $(document).ready(function() {


            {% block document_ready %}{% endblock document_ready %}


        $(".user_bar_notifications").click(function test (e){
            e.stopPropagation();
            e.preventDefault();
            var element = $(".hidden_div.notifications");
            element.fadeToggle();


            $(document).on('click',function(e){
                if(event.target!==element.get(0)){
                    element.fadeToggle();
                    $(this).off('click');
                }
            });

        });







            $.cookie('tz',new Date().getTimezoneOffset()/60);



            ////////mouse swiping
            var slide_number = 0;
            var numberOfSlides=2;
            $(".main_body").mousedown(function(e){
                 var release = false;
                  e.stopPropagation();


                 $(this).mouseup(function(e){e.stopPropagation();release=true;$(this).unbind('mouseup');    return} );
                // $(this).mousedown(function(e){e.stopPropagation();release=true});
                 if(release==true){
                      $(this).unbind('mousedown');
                      return;
                 }


                 //console.log( e.target );
                 $(this).mousemove(function(a){

                     if(release===true ){return}

                       // console.log('asd');

                     if(a.pageY> ( e.pageY+60) || a.pageY< (e.pageY-60)){
                            release=true;
                            console.log('doesnt count as swipe');
                            return;
                     }

                     if(e.pageX === (a.pageX-40)){
                        //console.log('right');
                        slide_number-=1;
                        if(slide_number<0)
                            slide_number=numberOfSlides;

                        ////bug in jquery
                        if(e.target.nodeName.toLowerCase()==='div'){
                           // console.log('clicked div');
                            $.fn.fullpage.moveTo('firstSlide',slide_number);

                        }
                        release=true;
                        return;
                     }

                       if(e.pageX=== (a.pageX+40)){
                            //console.log('left');
                            slide_number+=1;
                            if(slide_number>numberOfSlides)
                                slide_number=0;

                           if(e.target.nodeName.toLowerCase()==='div'){
                                //console.log('clicked div');
                                $.fn.fullpage.moveTo('firstSlide',slide_number);

                           }

                            release=true;

                            return;
                       }




                 })


            });




           // setInterval(checkForNotification, 1000);

            function checkForNotification(){}

                $.ajax(
                     {
                       type: "POST",
                       url: "{% url "notifications_url" %}",
                       data: {'checknotifications2':true,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                       error: function(data){ console.log(data)},
                       cache:false,
                       success:function(data){
                           console.log('asd');
                              var ul = $('.hidden_div.notifications');

                                var unseenMessages={};
                                var notificationElementGlobe = $('.user_bar_notifications').find('span');

                               $.each(data,function(index,item){

                                   if(item.seen===false){

                                       notificationElementGlobe.css('color','#0081c2');
                                       unseenMessages[item.course]=item.message_id;

                                   }
                                   //console.log(index+item);
                                   var wrapper = $("<div></div>");
                                   wrapper.css({

                                       'id':item.course,
                                       'borderBottom':'1px solid blue '

                                   })

                                   var end_date = item.end_date
                                   $('<div><span style="display:inline-block">'+item.course_name+   '</span>  <span style="float:right;">'+end_date+'</span> </div>').css(
                                           {'display':'inline-block',

                                            'word-wrap':'break-word',
                                            'font-size': '15px'

                                   }).appendTo(wrapper);
                                   //$('<div></div>').css({'word-wrap':'break-word','font-size': '12px'}).appendTo(wrapper);
                                   $('<div><span>'+item.message+'</span></div>').css({'word-wrap':'break-word','margin-top':'8px'}).appendTo(wrapper);

                                    wrapper.appendTo(ul);
                               })


                                notificationElementGlobe.click(function(){

                                           $.ajax({
                                                type: "POST",
                                                url: "{% url "notifications_url" %}",
                                                data: {'markmessagesseen':true,'csrfmiddlewaretoken': '{{ csrf_token }}','messages':JSON.stringify(unseenMessages)}

                                           })
                                           $(this).removeAttr('color');
                                });

                       }

                     })




        });



</script>




</head>













<title> Welcome </title>

<body {% block body_params %}{% endblock body_params %}>

<div class="user_bar" >




    {% if user.is_authenticated %}
        <span id="user_greeting"> Welcome {{user}} ! </span>
        {% else %}
        <span id="user_greeting"> Welcome guest !</span>
    {% endif %}





    <ul class="user_bar_options">

        <li class="user_bar_notifications"  >
            <span class="glyphicon glyphicon-globe" style="font-size: 20px;cursor: pointer"></span>

        </li>

        <li><a href="{% url "index_url" %}">Home</a></li>

        <li> <a href="{% url "courses_url" %}"> Courses </a></li>
        <li><a href="{% url "rtc_url" %}">Video Chat</a></li>


            <ul id="login_buttons">

                 {%if user.is_authenticated %}
                     <li><a href='{% url "logout_url" %}'> Logout </a></li>
                 {% else %}
                     <li onclick="$('#login_container')"> <a href='/' data-featherlight="#login_container"> Login </a> </li>
                 {%endif%}

                {%if not user.is_authenticated %}
                    <li onclick="$('#registartion').show()"> <a href="" data-featherlight="#registration"> Register </a> </li>
                {% endif %}
         </ul>

    </ul>





    <div id="menu_line"></div>

<div class="hidden_div notifications" tabindex="1">
{% block notifications %}










{% endblock notifications %}
</div>

</div>





<!-- containers for featherligh -->
<div id="registration" class="hidden_div" > {% if not user.is_authenticated %} <iframe src="{% url 'registration_url' %}" frameborder="0"/> </iframe> {% endif %} </div>
<div id='login_container' class="hidden_div">
    <form id="login" action="{% url 'login_url' %}" method="post" > {% csrf_token%}
    {% block login_form_block %}
        {% if loginform %}
            {{ loginform.as_p }}
        {% endif %}
    {% endblock login_form_block %}
    <input type="hidden" name="form_name">
    <input id="login_submit_button" type="submit" value="Login" onclick="closeTopFeatherlightAndSubmit()"  />
    </form>
</div>

<!-- messages container -->
<div id="messages_container" class="hidden_div">
    {% block messages_container %}


        {% if messages %}
            {% for m in messages %}
                <p>{{ m }}</p>

            {% endfor %}

            <script>$(displayMessages())</script>
        {% endif %}

        {% if errors %}
            {% for e in errors %}
                <p>{{ e }}</p>
                <script>$(displayMessages())</script>
            {% endfor %}
        {% endif %}


    {% endblock messages_container %}
</div>



{% block additional_featherlight_containers %}{% endblock additional_featherlight_containers%}


<div class="wrapper">


                  {% block wrapper %}
                 {% endblock wrapper %}


                <div class="main_body">
                    {% block main_body %}

                    {% endblock main_body %}
                </div>



</div>


{% block footer %}
<footer>
<div id="menu_line"></div>
    <div id="footer_info">



        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Sitemap</a></li>
        </ul>

        <div style="float: right">All copyrights belong to their respective owners.</div>
    </div>

</footer>

{% endblock footer %}


{% block test %}



{% endblock test %}





</body>
</html>