{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}



{% block custom_scripts %}

    <script type="application/javascript" src="{% static "dtpicker/jquery.simple-dtpicker.js" %}"></script>
    <link type="text/css" href="{% static "dtpicker/jquery.simple-dtpicker.css" %}" rel="stylesheet">

    <script>
        function joinSession(e){

            var form_data = $('#user_info').serialize()+'&unique_key='+e ;

            var action = $('#user_info').attr('action');
            $.post(action,form_data,function(e){
                window.location.reload(true);
            });


        }


        {% if is_Teachers %}

             <!--check-->
        function updateCourse(data,operation){

            if(data.id && data.op){
                var operation=data.op;
                var data=data.id;

            }

            var token = $("[name='csrfmiddlewaretoken']").get(0).name+"=" + $("[name='csrfmiddlewaretoken']").get(0).value+ "&" ;
            var form_data = token+ $('#updatesession').serialize()+'&unique_key='+data+'&operation='+operation;
            //console.log(form_data);
            var action = $('#updatesession').attr('action');

            $.post('{% url 'update_session_url' %}' ,form_data,function(e){
                window.location.reload(true);
            });

        }



        sendNotification = function(id){

            var token = $("[name='csrfmiddlewaretoken']").get(0).name+"=" + $("[name='csrfmiddlewaretoken']").get(0).value+ "&" ;
            var data = token+ "action=notification"+"&"+$("#notification").serialize() ;
            //console.log('send test' + data);
            $.post('',data,function(e){
                window.location.reload(true);
            });

        }


        function popCreateNewEndDate(id){
            var form = $('<form id="updatesession"></form>')
            var input = $("<input name='end_date'></input>");


            input.appendTo(form);
            //.appendTo(form);
            //.appendTo(form);
            form.appendTo("#messages_container");

            input.appendDtpicker({
                    'dateFormat' : "MM/DD/YYYY h:mm",
                    'inline':true,
                    'futureOnly': true
                });

            var op = "update";
            params = function(){
                return{
                    'id':id,
                    'op':op
                }
            }
            $('<button onclick="closeTopFeatherLight(params,updateCourse)">Change</button>').appendTo("#messages_container");
            displayMessages();
        }
        function popNotificationForm(id){
            var raw = $('<form id="notification"></form>')
            var form = $('{{ notification_form.as_table |escapejs }}')
            form.find("#id_unique_key").val(id);
            form.appendTo(raw);
            raw.appendTo("#messages_container");

            raw.find('#dtpicker').appendDtpicker({
                    'dateFormat' : "MM/DD/YYYY h:mm",
                    'inline':true,
                    'futureOnly': true
                });

            params = function(){
                return{
                    'id':id
                }
            }
            $('<button onclick="closeTopFeatherLight(params,sendNotification)">Send</button>').appendTo("#messages_container");

            displayMessages();


        }

        function showCourseSettings(e){
            event.stopPropagation();
            var targetDiv = $(event.target).parent().find('div');
            targetDiv.show();
            $(document).bind('click',function(e){
                if (event.target!==targetDiv){
                    targetDiv.hide();
                    $(this).unbind('click');
                }

                $(this).unbind('click');
            })

        }

        function showCourseParticipants(e){
            event.stopPropagation();

            var targetDiv = $(event.target).parent().find(".courses_participants");
            console.log(targetDiv);
            targetDiv.show();
            $(document).bind('click',function(e){
                if (event.target!==targetDiv){
                    targetDiv.hide();

                }

                $(document).unbind('click');
            })
        }

        {% endif %}




        function showSelection(e){
            $('.main_body').children('*').not('.main_body_heading').css('display','none');
            $('.main_body_heading').find('h4').text(e.h);
            console.log(e.i);
            var a = $("."+ e.i);
            a.css('display','inline-block');


        }

        function refreshSearch(params){



            if( typeof params === 'undefined' ){

                params={};
                params['name'] = $(".search_container").find("input").val();
                params['subject']=$(".search_container").find(":selected").text();
                params['search']=true;
                params['csrfmiddlewaretoken']= '{{ csrf_token }}';

            }

            if(  params.subject!==null && params.name!== null  ){

                //if(params.name!==""){
                    $.ajax(
                            {
                                type:"POST",
                                url:'.',
                                data:params,
                                success: function(data){
                                    location.assign(data);
                                }

                            }
                    )
                //}
            }

        }





    </script>

{%  endblock custom_scripts %}







{% block document_ready %}


      /*  $.fn.fullpage({
                verticalCentered: true,
                resize : false,
                slidesColor : ['#fff', '#fff'],
                anchors:['firstSlide', 'secondSlide','thirdSlide'],
                scrollingSpeed: 300,
                easing: 'easeInQuart',
                menu: false,
                navigation: false,
                navigationPosition: 'right',
                navigationTooltips: ['firstSlide', 'secondSlide'],
                slidesNavigation: true,
                slidesNavPosition: 'bottom',
                loopBottom: false,
                loopTop: false,
                loopHorizontal: true,
                autoScrolling: true,
                scrollOverflow: false,
                css3: false,
                paddingTop: '0px',
                paddingBottom: '0px',
                fixedElements: '#element1, .element2',
                normalScrollElements: '#element1, .element2',
                keyboardScrolling: true,
                touchSensitivity: 2,

                //events
                onLeave: function(index, direction){},
                afterLoad: function(anchorLink, index){},
                afterRender: function(){},
                afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
                onSlideLeave: function(anchorLink, index, slideIndex, direction){}
             });*/


        $(function(){

                $('#dtpicker').appendDtpicker({
                    'dateFormat' : "MM/DD/YYYY h:mm",
                    'inline':true,
                    'futureOnly': true
                });

                //#('#dtepicker').prop("readOnly",true)
            })


        if(!window.location.href.split('#')[1]){
            $("a[href='#sc']").click()
        }

        if(window.location.href.split('#')[1]){

            var relativeUrl= window.location.href.split('#').pop();
            var a =$('a[href="#' + relativeUrl + '"]');
            a.click();
        }



       //$(".search_container").find("select")






{% endblock document_ready %}

<script>





</script>


{% block wrapper %}
<div class="courses_navigator">

     <div class="courses_navigator_items" onclick="showSelection({'i':'courses_container','h':'Search courses'})">
        <span class="glyphicon glyphicon-search" style="color: #0088cc;font-size: 20px"></span>
        <span style="display: block"><a href="#sc"> Search courses </a> </span>
    </div>

    <div class="courses_navigator_items" onclick="showSelection({'i':'user_courses','h':'User Courses'})">
        <span class="glyphicon glyphicon-user" style="color: #0088cc;font-size: 20px"></span>
        <span style="display: block"><a href="#ac"> Active Courses</a></span>
    </div>


    {% if is_Teachers %}
        <div class="courses_navigator_items"  onclick="showSelection({'i':'courses_management','h':'Teacher Courses'})" >
            <span class="glyphicon glyphicon-tasks" style="color: #0088cc;font-size: 20px"></span>
            <span style="display: block"><a href="#mc"> Manage Courses </a></span>
        </div>
    {% endif %}



</div>




{% endblock wrapper %}




{% block main_body%}

    <div class="main_body_heading">
        <h4>Test</h4>
    </div>

            <div class="user_courses">


                {% if active_user_courses %}

                          <table class="user_courses_table">


                              <tr>
                                    <td>Subject</td>
                                    <td>Name</td>
                                    <td>Ends</td>
                                    <td>Teacher</td>

                                </tr>

                                    {% for course in active_user_courses %}

                                        {% if forloop.counter|divisibleby:2  %}

                                             <tr class="alt">
                                                <td>{{ course.subject }}</td>
                                                 <td>{{ course.name }}</td>
                                                <td>{{ course.end_date|date:"H:i Y-m-d "  }}</td>
                                                <td>{{ course.creator }}</td>

                                                <td><a href='{% url "rooms_url"  course=course.unique_key teacher_name=course.creator.username|lower %}'>Go to room</a></td>
                                             </tr>

                                            {% else %}
                                                <tr>
                                                    <td>{{ course.subject }}</td>
                                                    <td>{{ course.name }}</td>
                                                    <td>{{ course.end_date|date:"H:i Y-m-d "   }}</td>
                                                    <td>{{ course.creator }}</td>

                                                <td><a href='{% url "rooms_url" teacher_name=course.creator.username|lower course=course.unique_key %}'>Go to room</a></td>
                                                </tr>

                                        {% endif %}

                                    {% endfor %}
                                </table>

                            {% else %}
                            <span>You currently don`t have active courses.</span>

                {% endif %}
            </div>

            <div class="courses_container">

                        <div class="search_container">
                            {{ search_model.subjects }}
                            {{ search_model.name }}

                            <input type="submit" onclick="refreshSearch()" value="Search" />
                            <span ><a href="{% url "courses_url" %}"> Clear </a> <span class="glyphicon glyphicon-remove" style="color:red"></span></span>
                        </div>

                        {% if object_list %}

                                  <form id="user_info" action="{% url 'join_session_url' %}" method="post">{% csrf_token %}

                                   </form>



                                <table class="user_courses_table" >

                                <tr><td colspan="5">Available Courses</td></tr>

                                    <tr>
                                        <td>Class</td>
                                        <td>Name</td>
                                        <td>Ends</td>
                                        <td>Participants</td>
                                    </tr>

                                {% for sessionmodel in object_list %}
                                    <tr>
                                            <td>{{ sessionmodel.subject }}</td>
                                            <td>{{ sessionmodel.name }}</td>
                                            <td>{{ sessionmodel.end_date|date:"H:i Y-m-d "  }} </td>
                                            <td>{{ sessionmodel.number_of_participants }}</td>

                                            <td>


                                                <input type="submit" value="Join" onclick="joinSession('{{ sessionmodel.unique_key }}')"/>

                                            </td>
                                    </tr>
                                {% endfor %}

                                </table>

                                {% else %}
                                    <p>There are no active courses at the moment or you are already participating in all available</p>
                        {% endif %}



            </div>















        {% if is_Teachers %}
            <div class="courses_management">



                <form id="updatesession" action="{% url 'update_session_url' %}" method="post">{% csrf_token %}

                </form>




                      <table class="courses_managment_table" >
                      <tr><td colspan="6"><h4>Courses Managment <span class="glyphicon glyphicon-plus" onclick="$('.add_new_course_container').toggle()" style="color: #46a546;cursor: pointer;float:right;margin-right: 100px">New</span></h4></td></tr>
                      <tr class="description">
                          <td >Subject</td>
                          <td>Name</td>
                          <td>Participants</td>
                          <td colspan="5">Functions</td></tr>
                         {% for course in teacher_courses %}

                             {% if forloop.counter|divisibleby:2  %}
                                 {% if course.ended  %}
                                    <tr class="alt ended" >

                                 {% else %}
                                     <tr class="alt active" >
                                 {% endif %}
                             {% else %}

                                 {% if course.ended  %}
                                    <tr class="ended" >

                                 {% else %}
                                     <tr class="active" >
                                 {% endif %}

                             {% endif %}

                                    <td>{{ course.subject }}</td>
                                    <td>{{ course.name }}</td>
                                    <td >
                                        <span onclick="showCourseParticipants('')">  {{ course.participants.count }} </span>

                                        <div class="courses_participants">
                                            <ul>
                                                {% for student in course.participants.all %}
                                                    <li>{{ forloop.counter }}. {{ student.first_name }} {{ student.last_name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </td>
                                    <td >
                                        <span class="glyphicon glyphicon-cog" style="cursor: pointer;font-size: 15px" onclick="showCourseSettings()">

                                        </span>

                                        <div class='course_settings_menu'>
                                            <ul>

                                                {% if course.ended %}
                                                    <li onclick="updateCourse('{{course.unique_key }}','activate')"><span class="glyphicon glyphicon-wrench" style="color:#46a546;margin-right:6px"></span> Activate Course</li>
                                                {% else %}
                                                    <li onclick="updateCourse('{{course.unique_key }}','deactivate')"><span class="glyphicon glyphicon-wrench" style="color:#46a546; margin-right:6px"></span>Deactivate Course</li>
                                                {% endif %}
                                               <li onclick="updateCourse('{{course.unique_key }}','dismissal')"><span class="glyphicon glyphicon-wrench" style="color:#46a546;margin-right:6px"></span> Dismiss Class</li>
                                               <li onclick="popNotificationForm('{{ course.unique_key }}')"><span class="glyphicon glyphicon-wrench" style="color:#46a546;margin-right:6px"></span>Notify for incoming class</li>
                                               <li onclick="popCreateNewEndDate('{{ course.unique_key }}')"><span class="glyphicon glyphicon-wrench" style="color:#46a546;margin-right:6px"></span>Change end date</li>
                                               <li ><span class="glyphicon glyphicon-wrench" style="color:#46a546;margin-right:6px"></span><a href="{% url "create_test_url" course=course.unique_key %}"> Create Test </a></li>
                                            </ul>
                                        </div>
                                    </td>

                                </tr>



                         {% endfor %}
                      </table>



                <div class="add_new_course_container" >

                   <form action="{% url "create_session_url" %}" method="post">{% csrf_token%}
                        <table >
                            {{ create_session_form.as_table }}


                        <tr><td colspan="2"><input type="submit" value="Create Course"></td></tr>
                        </table>


                        </form>

                </div>


        </div>
       {% endif %}






{% endblock main_body %}
