{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block main_body %}


        <div >
            <form action="." method="post">
                {{ form.as_p }}
             <input type="hidden" name='createtest' value="True">
             <input type="submit" value="Submit">
            {%  csrf_token %}
            </form>
        </div>

    <div >
        <form action="" method="post">
            <select name="item_id">
                {% for entry in course_tests %}
                    <option value="{{ entry.id }}">{{ entry.name }}</option>
                {% endfor %}
            </select>
            {{ questions_form  }}
            <input type="submit" value="Submit">
            <input type="hidden" name='createquestion' value="True">
            {% csrf_token %}
        </form>
    </div>

{% endblock main_body %}