{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}






    {% block custom_scripts %}


    <script type="application/javascript" src="{% static "dtpicker/jquery.simple-dtpicker.js" %}"></script>
    <link type="text/css" href="{% static "dtpicker/jquery.simple-dtpicker.css" %}" rel="stylesheet">




    <script>






    </script>

{% endblock custom_scripts %}



    {% block document_ready %}

        $(function(){

                $('#dtpicker').appendDtpicker({
                    'dateFormat' : "MM/DD/YYYY h:mm",
                    'inline':true,
                    'futureOnly': true
                });

                //#('#dtepicker').prop("readOnly",true)
            })
    {% endblock %}





{% block main_body %}



<form action="" method="post">{% csrf_token%}
    <table>
        {{ form.as_table }}

          <script>

            </script>

    </table>

<input type="submit" value="Create Course">
 </form>
{% endblock main_body %}

