﻿{% extends "base.html" %}


{% load staticfiles %}


{% block custom_scripts %}

{% endblock custom_scripts %}

 {% block document_ready %}




{% endblock document_ready %}

{% block body_params %}
    class="impress-not-supported"
{% endblock body_params %}

{% block main_body %}






    <div id="impress" style="position: relative; font-family: 'PT Serif', georgia, serif;font-size: 42px;">
        <div style="position: relative;">



             <div id="slide" class="step" data-x = "1000" data-y="2000" data-scale="6" style="position: absolute; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);width: 500px;height: 500px;text-align: center; opacity: 1.0">
                <p style="margin-top: 200px;"> Think big </p>

            </div>



            <div id="slide1" class="step" data-x = "2800" data-y="2000" data-scale="6" data-rotate-y = "79" data-z="-1600" style=" position: absolute; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);width: 500px;height: 500px;text-align: center">
                <p style="margin-top: 200px;"> Education is everything you need </p>

            </div>

            <div id="slide2" class="step" data-x = "5000" data-y="8000" data-scale="6" style=" position: absolute;background-color:white; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);width: 500px;height: 500px;text-align: center">
                <p style="margin-top: 179px;"> “Self-education is, I firmly believe, the only kind of education there is.”
― Isaac Asimov </p>

            </div>


               <div id="slide3" class="step" data-x = "5000" data-y="8000" data-z="-5000" data-scale="6"  data-rotate-x="20" data-rotate-y="20" data-rotate-z="20" style=" background-color:white; position: absolute; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);width: 500px;height: 500px;text-align: center">
                <p style="margin-top: 179px;"> Take a step forward </p>
               </div>



            <div id="overview" class="step" data-x="230000" data-y="5000"  data-scale="10" style="position: absolute; box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);width:1000px;height:800px;background-image: url({% static "src/b.jpg" %});color: white ;">
                <div style=" float:right ;margin-right:400px">

                    <p style="margin-top: 179px;">Register and access modern education. </p>
                </div>
            </div>
            <script>
             $("#overview").width($(window).width());
             $("#overview").height($(window).height());
            </script>

        </div>
    </div>



    <script src="{% static "impress.js" %}" ></script>
    <script> var imp = impress().init()</script>
{% endblock main_body %}

{% block footer %}

    <footer style='position: fixed'>
<div id="menu_line"></div>
    <div id="footer_info" >



        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Sitemap</a></li>
        </ul>

        <div style="float: right">All copyrights belong to their respective owners.</div>
    </div>

</footer>


{% endblock footer %}