﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">

<html>
<title>Test</title>
<head>
{% load staticfiles %}
<script src="{% static "socket.io.js"%}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script>
	var socket = io.connect('https://77.70.29.4/rtc');
	
	
	var constraints = {
						"audio": true,
					   "video": {
					   "mandatory": {
					   "minWidth": "320",
					   "maxWidth": "320",
					   "minHeight": "240",
					   "maxHeight": "240",
					   "minFrameRate": "30"
						},
						"optional": []
						}
					};
	
	var pc_constraints = {
		'optional': [
			{'DtlsSrtpKeyAgreement': true},
			{'RtpDataChannels': true}
	]};
  
	var servers = navigator.userAgent.indexOf('Firefox') !== -1 ?
		 {'iceServers':[{'url':'stun:23.21.150.121'}]} : // number IP
			{'iceServers': [{'url': 'stun:stun.l.google.com:19302'}]};
	
	
	
	function errorGetStream(error){
		console.log("get stream error", error);
	}
	
	
	
	
	function makeid(){
		var text = "";
		var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

		for( var i=0; i < 5; i++ )
			text += possible.charAt(Math.floor(Math.random() * possible.length));
	
		socket.emit('registerUser',text);
		socket.emit('getAllUsers');
		socket.on('returnAllUsers', function(userList){
			console.log(userList);
			var ulItem = document.querySelector('#userList');
			while(ulItem.hasChildNodes() ){
				ulItem.removeChild(ulItem.firstChild);
			}
			userList.forEach(function(entry){
				var newLi = document.createElement('li');
				var liValue = document.createTextNode(entry);
				newLi.appendChild(liValue);
				ulItem.appendChild(newLi);
			});
		});
		return text;
	}
	
	var user=makeid();
	var otherUser='';
	var localStream;
	var peer;
	var peerQueue = {}
	
	
	//////////////////////pre-set local stream view  
	navigator.getUserMedia =  navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
	navigator.getUserMedia(constraints,getStream, errorGetStream);
	
	function getStream(stream){
	
		if(!peer)
			peer=new webkitRTCPeerConnection(servers, pc_constraints);
		
		localStream = stream;
		
		var div = document.querySelector("#local");
		div.src = window.URL.createObjectURL(stream);
		div.play();
		
		
	}
	////////////////pre-set local stream view 
	
	
	
	socket.on('receivedCall', function popCallMessage(data){
		if(data.caller !== user && data.targetUser===user && data.message){
			var r = confirm(data.message);

			socket.emit('callAction',{
				caller: user,
				targetUser: data.caller ,
				accepted: r
			});
			
			if(r)
				otherUser = data.caller;
		}
	});
	
	
	window.onload = function(){ 
		
		var regButton = document.getElementById('getUser');
		var startButton = document.querySelector('#fu');
		startButton.disabled = true;
		
		regButton.onclick = function(){
		
			otherUser = document.querySelector('#user').value;
			
			socket.emit('call',{caller:user,targetUser:otherUser,message:'user = '+user+'is requesting call'});
			
			socket.on('callAction',function(data){
				if(data.accepted===true)
					startButton.disabled = false;
			});
		};
	
		
		var span = document.querySelector('#genUser');
		span.innerHTML = user;
	
		
		
		///////////////////Initiate call///////////////////////////////////////////////////////////////////////////
		startButton.onclick = function(){
		
				if(!peer)
					peer=new webkitRTCPeerConnection(servers, pc_constraints);
					
		////more than 1 user
				if(peer.remoteDescription)
					peer=new webkitRTCPeerConnection(servers, pc_constraints); 
		////		
				peer.addStream(localStream);
				peer.onaddstream = startRemote;
				
				peer.createOffer(function(offerSDP){
						//offerSDP.sdp = preferOpus(offerSDP.sdp);
						peer.setLocalDescription(offerSDP);
						console.log(offerSDP);
						socket.emit('offerSDP',{
							caller: user,
							targetUser: otherUser ,
							offerSDP: offerSDP,
							stream: localStream
						});
		
					}, onfailure, sdpConstraints);
			
		
			peer.onicecandidate = iceCandidate;
		
				
			
	
					
				
			startButton.disabled = true;
		}
		///////////////////Initiate call////////////////////////////////////////////////////////////////////////////
	};
	
	
	socket.on('callerCandidates', function(data){
		
			if( data.caller!==user  && data.targetUser=== user && data.candidate){
				var otherCandidate= data.candidate.candidate;
				var sdpindex = data.candidate.sdpMLineIndex;
				if(!otherCandidate ||  !sdpindex){
				//console.log('fail'+ 'caller= '+data.caller + ' '+'targetUser= ' +data.targetUser);
				}
				if(!peer.remoteDescription)
					console.log('asd');
					
				peer.addIceCandidate( new RTCIceCandidate( {  sdpMLineIndex: sdpindex,
															   candidate: otherCandidate})
				);
				
			}
	})
	
	function iceCandidate(event){
		var candidate = event.candidate;
		if(candidate){
			socket.emit('offerCandidate',{
							caller: user,
							targetUser: otherUser,
							candidate: candidate
			});
		}
	}
	
	function startRemote (event){
			console.log('started Remote stream mby' + otherUser);
			
			var remoteDiv=document.querySelector('#remoteDiv');
			var newVideo = $("<video controls>").attr('id',otherUser).css({width:'200px',height: '200px'}).appendTo($("#remoteDiv"));
			
			/*var vid =document.getElementById('#'+otherUser);
			vid.src=window.URL.createObjectURL(event.stream);
			vid.play();
			*/
			newVideo.attr('src',window.URL.createObjectURL(event.stream));
			newVideo.get(0).play();
			/*var video = document.querySelector("#remote");
			var streamDiv = document.createElement('div');
			video.src = window.URL.createObjectURL(event.stream);
			video.play();*/
			
			
	};
	
	
	socket.on('setCallerRemoteSDP',function(data){
		console.log(data.targetUser +" "+data.caller);
		if(data.targetUser===user && data.answerSDP){
			
			var remoteDescription = new RTCSessionDescription(data.answerSDP);
			peer.setRemoteDescription(remoteDescription);
			peerQueue[data.caller] = peer;
			
			peer.onicecandidate = iceCandidate;
		}
	})
	

	
	///////////////////////////ANSWERING/////////////////////////////////////////////
	
	
	socket.on('answer', function(data){
		if(peer.remoteDescription){
			console.log('already in call');
			
		}
		if(data.targetUser === user && data.offerSDP){
			var answerData = data;
			Answer(data.offerSDP,data);
		}
	});	
	
	function Answer(offerSDP,offerData){
		navigator.webkitGetUserMedia(constraints, setStream, errorGetStream);
	
	
	function setStream(mediaStream){
	
		if(!peer)
					peer=new webkitRTCPeerConnection(servers, pc_constraints);
		peer.addStream(mediaStream);
		peer.onaddstream = startRemote;
		
		var remoteDescription = new RTCSessionDescription(offerSDP);
        
		peer.setRemoteDescription(remoteDescription);
		
			peer.createAnswer(function(answerSDP) {
			
				peer.setLocalDescription(answerSDP);
				socket.emit('sendCalleeLocalSDP',{
					caller : user,
					targetUser: offerData.caller,
					answerSDP: answerSDP
				
				});
			}, onfailure, sdpConstraints );
			
			peer.onicecandidate = function(event) {
				var candidate = event.candidate;
				if(candidate) {
					socket.emit('answerCandidate',{
						caller : user,
						targetUser: offerData.caller,
						candidate: candidate
					});
				}
			};
			
			
				socket.on('sendToCalleeCandidate', function(data){
		
		if( data.caller!==user  && data.targetUser=== user && data.candidate){
			var otherCandidate= data.candidate.candidate;
			var sdpindex = data.candidate.sdpMLineIndex;
			if(!otherCandidate ||  !sdpindex){
				//console.log('fail'+ 'caller= '+data.caller + ' '+'targetUser= ' +data.targetUser);
			}
			if(!peer.remoteDescription)
				console.log('asd');
					peer.addIceCandidate( new RTCIceCandidate( {  sdpMLineIndex: sdpindex,
					candidate: otherCandidate}));
				
		}
	});
			
		
		
		 
		
		
		
      
        
        // remote-descriptions should be set earlier
        // using offer-sdp provided by the offerer
        
		
       
    }
	}
	////////////////////////////////ANSWERING////////////////////////////////////////////
	
	var sdpConstraints = {
        optional: [],
        mandatory: {
            OfferToReceiveAudio: true,
            OfferToReceiveVideo: true
        }
    };
	
	function onfailure(error){
		console.log(error);
	}
	
	
	
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////
	// Set Opus as the default audio codec if it's present.
function preferOpus(sdp) {
  var sdpLines = sdp.split('\r\n');
  var mLineIndex;
  // Search for m line.
  for (var i = 0; i < sdpLines.length; i++) {
      if (sdpLines[i].search('m=audio') !== -1) {
        mLineIndex = i;
        break;
      }
  }
  if (mLineIndex === null) {
    return sdp;
  }

  // If Opus is available, set it as the default in m line.
  for (i = 0; i < sdpLines.length; i++) {
    if (sdpLines[i].search('opus/48000') !== -1) {
      var opusPayload = extractSdp(sdpLines[i], /:(\d+) opus\/48000/i);
      if (opusPayload) {
        sdpLines[mLineIndex] = setDefaultCodec(sdpLines[mLineIndex], opusPayload);
      }
      break;
    }
  }

  // Remove CN in m line and sdp.
  sdpLines = removeCN(sdpLines, mLineIndex);

  sdp = sdpLines.join('\r\n');
  return sdp;
}

function extractSdp(sdpLine, pattern) {
  var result = sdpLine.match(pattern);
  return result && result.length === 2 ? result[1] : null;
}

// Set the selected codec to the first in m line.
function setDefaultCodec(mLine, payload) {
  var elements = mLine.split(' ');
  var newLine = [];
  var index = 0;
  for (var i = 0; i < elements.length; i++) {
    if (index === 3) { // Format of media starts from the fourth.
      newLine[index++] = payload; // Put target payload to the first.
    }
    if (elements[i] !== payload) {
      newLine[index++] = elements[i];
    }
  }
  return newLine.join(' ');
}

// Strip CN from sdp before CN constraints is ready.
function removeCN(sdpLines, mLineIndex) {
  var mLineElements = sdpLines[mLineIndex].split(' ');
  // Scan from end for the convenience of removing an item.
  for (var i = sdpLines.length-1; i >= 0; i--) {
    var payload = extractSdp(sdpLines[i], /a=rtpmap:(\d+) CN\/\d+/i);
    if (payload) {
      var cnPos = mLineElements.indexOf(payload);
      if (cnPos !== -1) {
        // Remove CN payload from m line.
        mLineElements.splice(cnPos, 1);
      }
      // Remove CN line in sdp
      sdpLines.splice(i, 1);
    }
  }

  sdpLines[mLineIndex] = mLineElements.join(' ');
  return sdpLines;
}
	
	
	
	
	
	
</script>
</head>
<body>
	<div id='localDiv'style="float:left; width=450px;margin-right:20px">
		<video id='local' style="width:300px;height:300px;" controls />
	</div>
	<p id='genUser'>asd </p>
	<ul id='userList'></ul>
	<input type="text" id='user'/>
	<button id='getUser'> Send invite </button>
	<button id='fu'> Start </button>
	
	<div id ='remoteDiv' style="float:right; position:relative ">
		
	</div>
</body>
</html>













