<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>

{% block user_login  %}


    <form action="" method="post"> {% csrf_token%}
        {{ form.as_p }}
    <input type="submit" value="Submit" />
    </form>
{%  endblock %}

</body>
</html>
