<!doctype html>
<html>
<head>

<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body style="margin:auto; padding:0px;">
<div style="margin: 0 auto; width:100px">
    <form action="" method="post"> {% csrf_token%}



        {{ form.as_p }}




    <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>
