{% extends "base.html" %}
{% load staticfiles %}


{% block custom_scripts %}

<script src="{% static "socket.io.js" %}"></script>
<script src="{% static "webrtc.js" %}"></script>


<link href="//vjs.zencdn.net/4.4/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.4/video.js"></script>




    <script>
      var a = new OpenWebRtc();

    {% if chat_room_name %}
        a.initChat('{{ chat_room_name }}')

        function createNewComment(){
            data=$('#comment').val()
            $('#comment').val('');

            $('#comments_button').attr("disabled", 'true');
            $.ajax(
                {
                    type: "POST",
                    url: '{% url "rooms_url" teacher_name=teacher|lower course=chat_room_name %}',
                    data: {'newcomment':true,'csrfmiddlewaretoken': '{{ csrf_token }}',unique_key:{{ chat_room_name }},text:data },
                    success:function(data){$('#comments_button').removeAttr("disabled")}

                }
            )
         }


        function checkForPosts(){
            var total_posts = $('[id=comments_messages]').length
            var latest_screen_data = $('.latest_comments').find('#date').text();
            $.ajax(
                {
                    type: "POST",
                    url: '{% url "rooms_url" teacher_name=teacher|lower course=chat_room_name %}',
                    data: {
                            'checkforcomments':true,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            unique_key:{{ chat_room_name }},
                            total:total_posts
                    },


                    success: function(data){

                        $.each(data,function(index,item){
                            var container = $('.latest_comments');

                            var structure=$("<div id='comments_messages'>" +
                                    "<div id='comment_info'> " +
                                    "<span> </span> " +
                                    "<span id='date'></span>" +
                                    "</div><span id='message'>" +
                                    "</span></div>");

                            structure.find('span:first-child').text(item['creator']);
                            structure.find('span#date').text(item['date']);
                            console.log(structure.find('span#date'));
                            structure.find('#message').text(item['message'])
                            container.prepend(structure);
                        })

                    }
                }
            )
        }

        setInterval(checkForPosts, 1000);

    {%else  %}
        a.initChat('1');
    {% endif %}


    function showUserGuide(){

    };

    </script>





{% endblock custom_scripts %}

{%  block login_form_block %}

    {% if loginform %}
        {{ loginform.as_p }}

    {% endif %}
{% endblock login_form_block %}





{% block main_body%}

        {% url "rtc_url" as rtc%}
        {% if request.path ==  rtc%}

                    <audio id="notification" src = "{% static 'notification.mp3' %}" type="audio/mpeg" style="display: none;"></audio>

            <div style="display: inline-block;">

                <div id="user_list_container">
                                <ul id='userList' style="list-style: none"></ul>

                                 <div style="display: block">
                                    <button id='getUser'> Send invite </button>
                                    <button id='start'> Start </button>
                                </div>
                                    </div>



                                <div id='local_div'  >
                                    <video id='local' style="width:300px;height:300px; display: block" controls autoplay ></video>
                                    <button onclick="a.setUp()">Start Local Stream</button>
                                </div>



            </div>


                                 <div id="chat_div">
                                    <p id="chat_room_name">Connected to <input value="1"/></p>
                                    <div id="chat_messages_container"></div>
                                    <input id="recieved_messages"  type="text"/>
                                    <button id="send" onclick="a.sendMessage(  {'data':$('#recieved_messages').val(),'room':$('#chat_room_name').find('input').val(),'sender': $('#genUser').innerHTML }  )" >Send</button>
                                    <button  onclick="a.initChat($('#chat_room_name').find('input').val())" >Join Room</button>
                                </div>




                                <div id ='remoteDiv'> </div>


        {% else %}


        {# reuse the view for the classroooms  #}

                 <audio id="notification" src = "{% static 'notification.mp3' %}" type="audio/mpeg" style="display: none;"></audio>

            <div style="display: inline-block;">

                <div id="user_list_container">
                                <ul id='userList' style="list-style: none"></ul>

                                 <!--<div style="display: block">
                                    <button id='getUser'> Send invite </button>
                                    <button id='start'> Start </button>
                                </div>-->
                                    </div>



                                <div id='local_div'  >
                                    <video id='local' style="width:300px;height:300px; display: block" controls autoplay ></video>
                                   <!-- <button onclick="a.setUp()">Start Local Stream</button> -->
                                </div>



            </div>


                                 <div id="chat_div">
                                    <p id="chat_room_name">Connected to <span>{{ chat_room_name }}</span></p>
                                    <div id="chat_messages_container"></div>
                                    <input id="recieved_messages"  type="text"/>
                                    <button id="send" onclick="a.sendMessage(  {'data':$('#recieved_messages').val(),'sender': $('#genUser').innerHTML }  )" >Send</button>
                                    <!--<button  onclick="a.initChat($('#chat_room_name').find('span').val())" >Join Room</button> -->
                                </div>




                                <div id ='remoteDiv'> </div>








                    <div class="comments_container">


                        <div class="latest_comments">
                            {% if comments %}
                                {% for c in comments %}

                                <div id="comments_messages">
                                   <div id="comment_info"> <span> {{ c.creator }}</span > <span id='date'> {{ c.date_crated}}</span></div>
                                   <span id="message"> {{ c.text }}</span>
                                </div>

                                {% endfor %}
                             {% endif %}
                        </div>


                         <div class="comments_create_container">
                            <textarea id="comment"></textarea>
                            <button id="comments_button" onclick="createNewComment()">Post new comment</button>

                        </div>

                    </div>

        {% endif %}

{% endblock main_body %}



















